.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  position: absolute;
  left: 1.48%;
  right: 93.75%;
  top: 0%;
  bottom: 92.04%;
  width: 7%;
}

.nombre{
  position: absolute;
  width: 170px;
  height: 53px;
  left: 120px;
  top: 30px;
}

.ordenes{
  position: absolute;
  width: 90px;
  height: 83px;
  left: 207px;
  top: 670px;
}

.ordenes1{
  position: absolute;
  left: 170px;
  top: 780px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}

.citas{
  position: absolute;
  width: 91px;
  height: 98px;
  left: 620px;
  top: 665px;
}

.citas1{
  position: absolute;
  left: 640px;
  top: 780px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}

.pagos{
  position: absolute;
  width: 88px;
  height: 83px;
  left: 1020px;
  top: 670px;
}

.pagos1{
  position: absolute;
  left: 1030px;
  top: 780px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}

.historia{
  position: absolute;
  width: 91px;
  height: 101px;
  left: 207px;
  top: 910px;
}

.historia1{
  position: absolute;
  left: 180px;
  top: 1030px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}


.laboratorio{
  position: absolute;
  width: 67px;
  height: 79px;
  left: 630px;
  top: 915px;
}

.laboratorio1{
  position: absolute;
  left: 605px;
  top: 1030px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}

.afiliaciones{
  position: absolute;
  width: 107px;
  height: 97px;
  left: 1010px;
  top: 910px;
}

.afiliaciones1{
  position: absolute;
  left: 1020px;
  top: 1030px;
  color: black;
  font-size: 20px;
  font-family: 'Arial';
  font-style: bold;
}

.rectangulo{
  position: absolute;
  width: 100%;
  height: 55px;
  left: 0px;
  top: 100px;
  background: #2B9FC9;
}

.boton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 53px;
  left: 1053px;
  top: 30px;
  background: #2686BD;
  border:#2686BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 53px;
  left: 1200px;
  top: 30px;
  background: #2686BD;
  border:#2686BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 55px;
  left: 336px;
  top: 100px;
  background: #2686BD;
  mix-blend-mode: normal;
  border:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 55px;
  left: 472px;
  top: 100px;
  background: #2686BD;
  mix-blend-mode: normal;
  border:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 55px;
  left: 608px;
  top: 100px;
  background: #2686BD;
  mix-blend-mode: normal;
  border:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton6{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 16px;
  position: absolute;
  width: 136px;
  height: 55px;
  left: 744px;
  top: 100px;
  background: #2686BD;
  mix-blend-mode: normal;
  border:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Arial';
  font-style: normal;
}

.boton7{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 157px;
  top: 655px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.boton8{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 566px;
  top: 655px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.boton9{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 966px;
  top: 655px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.boton10{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 157px;
  top: 900px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.boton11{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 566px;
  top: 900px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.boton12{
  position: absolute;
  width: 189px;
  height: 180px;
  left: 966px;
  top: 900px;
  background: #BFE8E8;
  mix-blend-mode: normal;
}

.enfermeros{
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0px;
  top: 155px;
}

.servicios{
  position: absolute;
  width: 200.14px;
  height: 15.26px;
  left: 558.5px;
  top: 570px;
  color: black;
  font-family: 'Arial';
  font-style: bold;
  font-size: 25px
}



.App-header {
  background-color: #bfe8e8;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

